<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/verifier globals.css' %}" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="{% static '/css/verifier style.css' %}" />
  </head>
  <body>
    <div class="VERIFIER-DASHBOARD">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="img-wrapper"><img class="cash-multiple" src="img/cash-multiple.svg" /></div>
            <div class="text-wrapper">CASH DISBURSED</div>
            <div class="div">550,000</div>
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-2">BORROWERS</div>
            <div class="text-wrapper-3">100</div>
            <div class="img-wrapper"><img class="vector" src="img/vector-1.svg" /></div>
          </div>
          <div class="overlap-3">
            <div class="text-wrapper-4">REPAID LOANS</div>
            <div class="text-wrapper-5">30</div>
            <div class="img-wrapper"><img class="img" src="img/vector-21.svg" /></div>
          </div>
          <div class="overlap-4">
            <div class="text-wrapper-6">CASH RECEIVED</div>
            <div class="text-wrapper-7">1,000,000</div>
            <div class="tabler-currency-wrapper">
              <img class="tabler-currency" src="img/tabler-currency-naira.svg" />
            </div>
          </div>
          <div class="overlap-5">
            <div class="rectangle"></div>
            <div class="text-wrapper-8">LOANS</div>
            <div class="text-wrapper-9">50</div>
            <div class="rectangle-2"></div>
            <img class="vector-2" src="img/vector.svg" />
          </div>
          <div class="overlap-6">
            <div class="rectangle"></div>
            <div class="text-wrapper-10">SAVINGS</div>
            <div class="text-wrapper-11">450,000</div>
            <div class="rectangle-3"></div>
            <img class="vector-3" src="img/vector-2.svg" />
          </div>
          <div class="overlap-7">
            <div class="SIDEBAR"></div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
            <div class="rectangle-6"></div>
            <div class="rectangle-7"></div>
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
            <div class="rectangle-12"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-14"></div>
            <div class="rectangle-15"></div>
            <div class="rectangle-16"></div>
            <div class="rectangle-17"></div>
            <div class="rectangle-18"></div>
            <div class="rectangle-19"></div>
            <div class="rectangle-20"></div>
            <div class="text-wrapper-12">Dashboard</div>
            <div class="text-wrapper-13">Borrowers</div>
            <div class="text-wrapper-14">Loans</div>
            <div class="text-wrapper-15">Repayments</div>
            <div class="text-wrapper-16">Loan Parameters</div>
            <div class="text-wrapper-17">Accounting</div>
            <div class="text-wrapper-18">Reports</div>
            <div class="text-wrapper-19">Collateral</div>
            <div class="text-wrapper-20">Access Configuration</div>
            <div class="text-wrapper-21">Savings</div>
            <div class="text-wrapper-22">Expenses</div>
            <div class="text-wrapper-23">E-signarure</div>
            <div class="text-wrapper-24">Investor Accounts</div>
            <div class="text-wrapper-25">Calendar</div>
            <div class="text-wrapper-26">Settings</div>
            <div class="text-wrapper-27">Sign Out</div>
            <img class="account-circle" src="img/account-circle.svg" />
            <div class="text-wrapper-28">John Okoh</div>
            <img class="vector-4" src="img/vector-3.svg" />
            <img class="dashicons-dashboard" src="img/dashicons-dashboard.svg" />
            <img class="vector-5" src="img/vector-4.svg" />
            <img class="vector-6" src="img/vector-5.svg" />
            <img class="vector-7" src="img/vector-6.svg" />
            <img class="vector-8" src="img/vector-7.svg" />
            <img class="vector-9" src="img/vector-8.svg" />
            <img class="vector-10" src="img/vector-9.svg" />
            <img class="vector-11" src="img/vector-10.svg" />
            <img class="vector-12" src="img/vector-11.svg" />
            <img class="vector-13" src="img/vector-12.svg" />
            <img class="vector-14" src="img/vector-13.svg" />
            <img class="vector-15" src="img/vector-14.svg" />
            <img class="vector-16" src="img/vector-15.svg" />
            <img class="vector-17" src="img/vector-16.svg" />
            <div class="HEADER"></div>
            <div class="text-wrapper-29">CREDIT APP</div>
            <img class="account-circle-2" src="img/account-circle-1.svg" />
            <div class="text-wrapper-30">Verifier</div>
            <img class="align-justify" src="img/align-justify.svg" />
            <img class="vector-18" src="img/vector-17.svg" />
            <img class="vector-19" src="img/vector-18.svg" />
            <img class="vector-20" src="img/vector-19.svg" />
            <div class="text-wrapper-31">4</div>
            <img class="vector-21" src="img/vector-20.svg" />
            <div class="rectangle-21"></div>
            <div class="chart">
              <div class="group">
                <div class="overlap-group-2">
                  <img class="vector-22" src="img/vector-60.svg" />
                  <div class="group-2">
                    <div class="group-3">
                      <img class="vector-23" src="img/vector-61.svg" />
                      <div class="text-wrapper-32">1</div>
                    </div>
                    <div class="group-4">
                      <img class="vector-23" src="img/vector-62.svg" />
                      <div class="text-wrapper-32">2</div>
                    </div>
                    <div class="group-5">
                      <img class="vector-23" src="img/vector-63.svg" />
                      <div class="text-wrapper-32">3</div>
                    </div>
                    <div class="group-6">
                      <img class="vector-23" src="img/vector-64.svg" />
                      <div class="text-wrapper-32">4</div>
                    </div>
                    <div class="group-7">
                      <img class="vector-23" src="img/vector-65.svg" />
                      <div class="text-wrapper-32">5</div>
                    </div>
                    <div class="group-8">
                      <img class="vector-23" src="img/vector-66.svg" />
                      <div class="text-wrapper-32">6</div>
                    </div>
                    <div class="group-9">
                      <img class="vector-23" src="img/vector-67.svg" />
                      <div class="text-wrapper-32">7</div>
                    </div>
                    <div class="group-10">
                      <img class="vector-23" src="img/vector-30.svg" />
                      <div class="text-wrapper-32">8</div>
                    </div>
                    <div class="group-11">
                      <img class="vector-23" src="img/vector-69.svg" />
                      <div class="text-wrapper-32">9</div>
                    </div>
                    <div class="group-12">
                      <img class="vector-23" src="img/vector-70.svg" />
                      <div class="text-wrapper-33">10</div>
                    </div>
                    <div class="group-13">
                      <img class="vector-24" src="img/vector-71.svg" />
                      <div class="text-wrapper-34">11</div>
                    </div>
                    <div class="group-14">
                      <img class="vector-24" src="img/vector-72.svg" />
                      <div class="text-wrapper-34">12</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-8">
                  <img class="vector-25" src="img/vector-73.svg" />
                  <div class="group-15">
                    <div class="group-16">
                      <img class="vector-26" src="img/vector-76.svg" />
                      <div class="text-wrapper-35">0</div>
                    </div>
                    <div class="group-17">
                      <img class="vector-27" src="img/vector-76.svg" />
                      <div class="text-wrapper-36">250</div>
                    </div>
                    <div class="group-18">
                      <img class="vector-27" src="img/vector-76.svg" />
                      <div class="text-wrapper-36">500</div>
                    </div>
                    <div class="group-19">
                      <img class="vector-27" src="img/vector-76.svg" />
                      <div class="text-wrapper-36">750</div>
                    </div>
                    <div class="group-20">
                      <img class="vector-28" src="img/vector-76.svg" />
                      <div class="text-wrapper-37">1000</div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="group-21" src="img/group.png" />
            </div>
            <div class="rectangle-22"></div>
            <div class="text-wrapper-38">Loans Released Monthly</div>
            <p class="p">Total Outstanding Open Loans - Monthly</p>
            <div class="div-wrapper">
              <div class="overlap-9">
                <div class="group-22">
                  <div class="overlap-group-3">
                    <img class="vector-29" src="img/vector-41.svg" />
                    <div class="group-23">
                      <div class="group-24">
                        <img class="vector-23" src="img/vector-42.svg" />
                        <div class="text-wrapper-32">1</div>
                      </div>
                      <div class="group-25">
                        <img class="vector-23" src="img/vector-43.svg" />
                        <div class="text-wrapper-32">2</div>
                      </div>
                      <div class="group-26">
                        <img class="vector-23" src="img/vector-44.svg" />
                        <div class="text-wrapper-32">3</div>
                      </div>
                      <div class="group-27">
                        <img class="vector-23" src="img/vector-45.svg" />
                        <div class="text-wrapper-32">4</div>
                      </div>
                      <div class="group-28">
                        <img class="vector-23" src="img/vector-46.svg" />
                        <div class="text-wrapper-32">5</div>
                      </div>
                      <div class="group-29">
                        <img class="vector-23" src="img/vector-47.svg" />
                        <div class="text-wrapper-32">6</div>
                      </div>
                      <div class="group-30">
                        <img class="vector-23" src="img/vector-48.svg" />
                        <div class="text-wrapper-32">7</div>
                      </div>
                      <div class="group-31">
                        <img class="vector-23" src="img/vector-49.svg" />
                        <div class="text-wrapper-32">8</div>
                      </div>
                      <div class="group-32">
                        <img class="vector-23" src="img/vector-50.svg" />
                        <div class="text-wrapper-32">9</div>
                      </div>
                      <div class="group-33">
                        <img class="vector-30" src="img/vector-51.svg" />
                        <div class="text-wrapper-34">10</div>
                      </div>
                      <div class="group-34">
                        <img class="vector-24" src="img/vector-52.svg" />
                        <div class="text-wrapper-34">11</div>
                      </div>
                      <div class="group-35">
                        <img class="vector-31" src="img/vector-53.svg" />
                        <div class="text-wrapper-34">12</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group-36">
                  <div class="overlap-10">
                    <img class="vector-32" src="img/vector-54.svg" />
                    <div class="group-36">
                      <div class="group-37">
                        <img class="vector-33" src="img/vector-57.svg" />
                        <div class="text-wrapper-35">0</div>
                      </div>
                      <div class="group-38">
                        <img class="vector-34" src="img/vector-57.svg" />
                        <div class="text-wrapper-36">250</div>
                      </div>
                      <div class="group-39">
                        <img class="vector-34" src="img/vector-57.svg" />
                        <div class="text-wrapper-36">500</div>
                      </div>
                      <div class="group-40">
                        <img class="vector-34" src="img/vector-58.svg" />
                        <div class="text-wrapper-36">750</div>
                      </div>
                      <div class="group-41">
                        <img class="vector-35" src="img/vector-59.svg" />
                        <div class="text-wrapper-37">1000</div>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="group-42" src="img/group-1.png" />
              </div>
            </div>
            <div class="rectangle-23"></div>
            <div class="chart-2">
              <div class="group">
                <div class="overlap-group-2">
                  <img class="vector-22" src="img/vector-60.svg" />
                  <div class="group-2">
                    <div class="group-3">
                      <img class="vector-23" src="img/vector-61.svg" />
                      <div class="text-wrapper-32">1</div>
                    </div>
                    <div class="group-4">
                      <img class="vector-23" src="img/vector-62.svg" />
                      <div class="text-wrapper-32">2</div>
                    </div>
                    <div class="group-5">
                      <img class="vector-23" src="img/vector-63.svg" />
                      <div class="text-wrapper-32">3</div>
                    </div>
                    <div class="group-6">
                      <img class="vector-23" src="img/vector-64.svg" />
                      <div class="text-wrapper-32">4</div>
                    </div>
                    <div class="group-7">
                      <img class="vector-23" src="img/vector-65.svg" />
                      <div class="text-wrapper-32">5</div>
                    </div>
                    <div class="group-8">
                      <img class="vector-23" src="img/vector-66.svg" />
                      <div class="text-wrapper-32">6</div>
                    </div>
                    <div class="group-9">
                      <img class="vector-23" src="img/vector-67.svg" />
                      <div class="text-wrapper-32">7</div>
                    </div>
                    <div class="group-10">
                      <img class="vector-23" src="img/vector-68.svg" />
                      <div class="text-wrapper-32">8</div>
                    </div>
                    <div class="group-11">
                      <img class="vector-23" src="img/vector-69.svg" />
                      <div class="text-wrapper-32">9</div>
                    </div>
                    <div class="group-12">
                      <img class="vector-23" src="img/vector-70.svg" />
                      <div class="text-wrapper-33">10</div>
                    </div>
                    <div class="group-13">
                      <img class="vector-24" src="img/vector-71.svg" />
                      <div class="text-wrapper-34">11</div>
                    </div>
                    <div class="group-14">
                      <img class="vector-24" src="img/vector-72.svg" />
                      <div class="text-wrapper-34">12</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-8">
                  <img class="vector-25" src="img/vector-73.svg" />
                  <div class="group-15">
                    <div class="group-16">
                      <img class="vector-26" src="img/vector-76.svg" />
                      <div class="text-wrapper-35">0</div>
                    </div>
                    <img class="group-43" src="img/group-3.png" />
                    <div class="group-18">
                      <img class="vector-27" src="img/vector-76.svg" />
                      <div class="text-wrapper-36">5</div>
                    </div>
                    <img class="group-44" src="img/group-3.png" />
                    <div class="group-20">
                      <img class="vector-28" src="img/vector-76.svg" />
                      <div class="text-wrapper-37">10</div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="group-21" src="img/group-4.png" />
            </div>
            <p class="text-wrapper-39">Number of Repayments Collected - Monthly</p>
            <div class="rectangle-24"></div>
            <div class="rectangle-25"></div>
            <div class="rectangle-26"></div>
          </div>
          <p class="dashboard-loans">
            <span class="span">Dashboard &gt; </span> <span class="text-wrapper-40">Loans</span>
          </p>
          <div class="all-tickets">
            <div class="overlap-11">
              <div class="cards-default">
                <div class="overlap-group-4"><div class="text-wrapper-41">Applied Loans</div></div>
              </div>
              <div class="table-ticket">
                <div class="overlap-12">
                  <div class="sheet"></div>
                  <img class="icon-cursor-pointing" src="img/icon-cursor-pointing-hand.svg" />
                  {% for x in data %} <div class="content">
                    <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                    <div class="time-label">4:00 PM</div>
                    <div class="date-label">June 08, 2021</div>
                    <div class="date-customer">on {{x.created_at}}</div>
                    <div class="customer-name">{{x.full_name}}</div>
                    <div class="ticket-information">Updated 2 days ago</div>
                    <div class="ticket-name">Unable to add replies</div>
                    <img class="img-2" src="img/avatar-man-6.svg" />
                  </div>
                  <img class="divider-line" src="img/divider-line-horizontal-1.svg" />
                  <img class="divider-line-2" src="img/divider-line-horizontal-1.svg" />
                </div>
              </div>
              <div class="filter">
                <div class="text-wrapper-42">Filter</div>
                <img class="img-3" src="img/icon-filter.svg" />
              </div>
              <div class="sort">
                <div class="text-wrapper-42">Sort</div>
                <img class="img-3" src="img/icon-sort.svg" />
              </div>
              <div class="table-bottom">
                <div class="rows-per-page">
                  <div class="text-wrapper-43">Rows per page:</div>
                  <div class="text-wrapper-44">7</div>
                  <img class="icon-dropdown" src="img/icon-dropdown.svg" />
                </div>
                <div class="pagination">
                  <div class="text-wrapper-45">1-7 of 1240</div>
                  <img class="icon-arrow-left" src="img/icon-arrow-left.svg" />
                  <img class="icon-arrow-right" src="img/icon-arrow-right.svg" />
                </div>
              </div>
              <div class="table-top">
                <div class="text-wrapper-46">User Recent Activity</div>
                <div class="text-wrapper-47">Customer name</div>
                <div class="text-wrapper-48">Action</div>
                <div class="text-wrapper-49">Date</div>
                <img class="divider-line-3" src="img/divider-line-horizontal-2.svg" />
              </div>
              <div class="table-ticket-2">
                <div class="overlap-13">
                  <div class="content-2">
                    <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                    <div class="chip-priority-high"><div class="title">PENDING</div></div>
                    <div class="title-wrapper"><div class="title">PENDING</div></div>
                    <div class="chip-priority-high-2"><div class="title">PENDING</div></div>
                    <div class="chip-priority-high-3"><div class="title-2">VERIFIED</div></div>
                    <div class="chip-priority-high-4"><div class="title">PENDING</div></div>
                    <div class="time-label">6:30 PM</div>
                    <div class="date-label">June 09, 2021</div>
                    <div class="date-customer">on 24.05.2019</div>
                    <div class="customer-name">Tom Cruise</div>
                    <div class="ticket-information">Updated 1 day ago</div>
                    <div class="ticket-name">Contact Email not Linked</div>
                    <img class="img-2" src="img/avatar-man-5.svg" />
                    <div class="chip-priority-high-5"><div class="title-2">VERIFIED</div></div>
                    <div class="chip-priority-high-6"><div class="title-2">VERIFIED</div></div>
                  </div>
                  <img class="divider-line-4" src="img/divider-line-horizontal-14.svg" />
                </div>
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
              <div class="table-ticket-3">
                <div class="content">
                  <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                  <div class="time-label">8:00 AM</div>
                  <div class="date-label">June 09, 2021</div>
                  <div class="date-customer">on 24.05.2019</div>
                  <div class="customer-name">Matt Damon</div>
                  <div class="ticket-information">Updated 1 day ago</div>
                  <p class="ticket-name">Adding Images to Featured Posts</p>
                  <img class="img-2" src="img/avatar-woman-5.svg" />
                </div>
                <img class="divider-line-6" src="img/divider-line-horizontal-14.svg" />
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
              <div class="table-ticket-4">
                <div class="content">
                  <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                  <div class="time-label">5:00 PM</div>
                  <div class="date-label">June 08, 2021</div>
                  <div class="date-customer">on 24.05.2019</div>
                  <div class="customer-name">Christian Bale</div>
                  <div class="ticket-information">Updated 2 days ago</div>
                  <div class="ticket-name">Payment not going through</div>
                  <img class="img-2" src="img/avatar-man-7.svg" />
                </div>
                <img class="divider-line-6" src="img/divider-line-horizontal-14.svg" />
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
              <div class="table-ticket-5">
                <div class="content">
                  <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                  <div class="time-label">7:30 PM</div>
                  <div class="date-label">June 08, 2021</div>
                  <div class="date-customer">on 24.05.2019</div>
                  <div class="customer-name">Robert Downey</div>
                  <div class="ticket-information">Updated 1 day ago</div>
                  <p class="ticket-name">When will I be charged this month?</p>
                  <img class="img-2" src="img/avatar-woman-3.svg" />
                </div>
                <img class="divider-line-6" src="img/divider-line-horizontal-14.svg" />
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
              <div class="table-ticket-6">
                <div class="content">
                  <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                  <div class="time-label">2:00 PM</div>
                  <div class="date-label">June 08, 2021</div>
                  <div class="date-customer">on 23.05.2019</div>
                  <div class="customer-name">Chris Evans</div>
                  <div class="ticket-information">Updated 3 days ago</div>
                  <div class="ticket-name">Downtime since last week</div>
                  <img class="img-2" src="img/avatar-man-4.svg" />
                </div>
                <img class="divider-line-6" src="img/divider-line-horizontal-14.svg" />
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
              <div class="table-ticket-7">
                <div class="content">
                  <img class="icon-more-vertical" src="img/icon-more-vertical-6.svg" />
                  <div class="time-label">11:30 AM</div>
                  <div class="date-label">June 08, 2021</div>
                  <div class="date-customer">on 22.05.2019</div>
                  <div class="customer-name">Sam Smith</div>
                  <div class="ticket-information">Updated 4 day ago</div>
                  <div class="ticket-name">Referral Bonus</div>
                  <img class="img-2" src="img/avatar-woman-6.svg" />
                </div>{% endfor %}
                <img class="divider-line-6" src="img/divider-line-horizontal-14.svg" />
                <img class="divider-line-5" src="img/divider-line-horizontal-14.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
